@import "tailwindcss";

@theme {
  --color-background: #f8fafc;
  --color-foreground: #0f172a;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Ocultar las flechas molestas de los inputs numéricos */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}